<!DOCTYPE html>
<html>
  <head>
    <title>Movie Mood</title>
    <h2>Welcome to Movie Mood</h2>
  </head>
<body>
  <form method=POST>
  <div> <!--First question-->
    <h3>How do you currently feel?</h3>
    <p></p>
        <input type="checkbox" name="question1" value="a">Wired
    <p></p>
        <input type="checkbox" name="question1" value="b">In your bag
    <p></p>
        <input type="checkbox" name="question1" value="c">Brave
    <p></p>
        <input type="checkbox" name="question1" value="d">Humorous
    <p></p>
        <input type="checkbox" name="question1" value="e">Childish
  </div>
    <!--Second Question-->
    <div2>
       <h3>What's your favorite candy??</h3>
    <p></p>
        <input type="checkbox" name="question2" value="a">Licorice
    <p></p>
        <input type="checkbox" name="question2" value="b">Kit Kat
    <p></p>
        <input type="checkbox" name="question2" value="c">Reese Cup
    <p></p>
        <input type="checkbox" name="question2" value="d">Sour Patch Kids
    <p></p>
        <input type="checkbox" name="question2" value="e">Swedish Fish
  </div2>
  <!--Third Question-->
   <div3>
       <h3>What animal do you like?</h3>
    <p></p>
        <input type="checkbox" name="question3" value="a">Panther
    <p></p>
        <input type="checkbox" name="question3" value="b">Owl
    <p></p>
        <input type="checkbox" name="question3" value="c">Dinosaur
    <p></p>
        <input type="checkbox" name="question3" value="d">Monkey
    <p></p>
        <input type="checkbox" name="question3" value="e">Hyena
    </div3>
    <!--Fourth Question-->
    <div4>
       <h3>Where's your ideal destination?</h3>
    <p></p>
        <input type="checkbox" name="question4" value="a">New York
    <p></p>
        <input type="checkbox" name="question4" value="b">Paris
    <p></p>
        <input type="checkbox" name="question4" value="c">The Woods
    <p></p>
        <input type="checkbox" name="question4" value="d">Circus
    <p></p>
        <input type="checkbox" name="question4" value="e">Stay at Home
    </div4>
    <!--Fifth Question-->
    <div5>
       <h3>What's your favorite sport to play?</h3>
    <p></p>
        <input type="checkbox" name="question5" value="a">Hockey
    <p></p>
        <input type="checkbox" name="question5" value="b">Baseball
    <p></p>
        <input type="checkbox" name="question5" value="c">Football
    <p></p>
        <input type="checkbox" name="question5" value="d">Polo
    <p></p>
        <input type="checkbox" name="question5" value="e">Golf
    </div5>
    <!--Sixth Question-->
    <div6>
       <h3>What's your favorite color?</h3>
    <p></p>
    <input type="checkbox" name="question6" value="a">Purple
    <p></p>
    <input type="checkbox" name="question6" value="b">Red
    <p></p>
    <input type="checkbox" name="question6" value="c">Black
    <p></p>
    <input type="checkbox" name="question6" value="d">Green
    <p></p>
    <input type="checkbox" name="question6" value="e">Orange
    </div6>
    <div7>
       <h3>What's your dream car?</h3>
    <p></p>
    <input type="checkbox" name="question7" value="a">Lamborghini
    <p></p>
    <input type="checkbox" name="question7" value="b">BMW
    <p></p>
    <input type="checkbox" name="question7" value="c">Monster Truck
    <p></p>
    <input type="checkbox" name="question7" value="d">Beetle
    <p></p>
    <input type="checkbox" name="question7" value="e">Mini-Van
    </div7>
    <!--Eighth Question-->
    <div8>
       <h3>What type of shoes do you like to wear?</h3>
    <p></p>
    <input type="checkbox" name="question8" value="a">Boots
    <p></p>
    <input type="checkbox" name="question8" value="b">High Heels
    <p></p>
    <input type="checkbox" name="question8" value="c">Loafers
    <p></p>
    <input type="checkbox" name="question8" value="d">Jazz Shoes
    <p>s</p>
    <input type="checkbox" name="question8" value="e">Sneakers
    </div8>
    <p></p>
    <input type="submit" value="Click To See Results!">
    </form>
   
  </body>
</html>
