<!DOCTYPE html>
<html>
  <head>
    <title><h1>Movie Mood</h1></title>
    <h2>Welcome to Movie Mood</h2>
  </head>
<body>
  <form method=POST>
  <div> <!--First question-->
    <h3>How do you currently feel?</h3>
    <p></p>
        <input type="checkbox" name="question1" value="wired">Wired
    <p></p>
        <input type="checkbox" name="question1" value="inyourbag">In your bag
    <p></p>
        <input type="checkbox" name="question1" value="brave">Brave
    <p></p>
        <input type="checkbox" name="question1" value="humor">Humorous
    <p></p>
        <input type="checkbox" name="question1" value="childish">Childish
  </div>
    <!--Second Question-->
    <div2>
       <h3>What's your favorite candy??</h3>
    <p></p>
        <input type="checkbox" name="question2" value="licorice">Licorice
    <p></p>
        <input type="checkbox" name="question2" value="kitkat">Kit Kat
    <p></p>
        <input type="checkbox" name="question2" value="reesecup">Reese Cup
    <p></p>
        <input type="checkbox" name="question2" value="sourpatchkid">Sour Patch Kids
    <p></p>
        <input type="checkbox" name="question2" value="swedish">Swedish Fish
  </div2>
  <!--Third Question-->
   <div3>
       <h3>What animal do you like?</h3>
    <p></p>
        <input type="checkbox" name="question3" value="panther">Panther
    <p></p>
        <input type="checkbox" name="question3" value="owl">Owl
    <p></p>
        <input type="checkbox" name="question3" value="dinosaur">Dinosaur
    <p></p>
        <input type="checkbox" name="question3" value="monkey">Monkey
    <p></p>
        <input type="checkbox" name="question3" value="hyena">Hyena
    </div3>
    <!--Fourth Question-->
    <div4>
       <h3>Where's your ideal destination?</h3>
    <p></p>
        <input type="checkbox" name="question4" value="newyork">New York
    <p></p>
        <input type="checkbox" name="question4" value="paris">Paris
    <p></p>
        <input type="checkbox" name="question4" value="thewoods">The Woods
    <p></p>
        <input type="checkbox" name="question4" value="circus">Circus
    <p></p>
        <input type="checkbox" name="question4" value="home">Stay at Home
    </div4>
    <!--Fifth Question-->
    <div5>
       <h3>What's your favorite sport to play?</h3>
    <p></p>
        <input type="checkbox" name="question5" value="hockey">Hockey
    <p></p>
        <input type="checkbox" name="question5" value="baseball">Baseball
    <p></p>
        <input type="checkbox" name="question5" value="football">Football
    <p></p>
        <input type="checkbox" name="question5" value="polo">Polo
    <p></p>
        <input type="checkbox" name="question5" value="golf">Golf
    </div5>
    <!--Sixth Question-->
    <div6>
       <h3>What's your favorite color?</h3>
    <p></p>
    <input type="checkbox" name="question6" value="purple">Purple
    <p></p>
    <input type="checkbox" name="question6" value="red">Red
    <p></p>
    <input type="checkbox" name="question6" value="black">Black
    <p></p>
    <input type="checkbox" name="question6" value="green">Green
    <p></p>
    <input type="checkbox" name="question6" value="orange">Orange
    </div6>
    <div7>
       <h3>What's your dream car?</h3>
    <p></p>
    <input type="checkbox" name="question7" value="lamborghini">Lamborghini
    <p></p>
    <input type="checkbox" name="question7" value="bmw">BMW
    <p></p>
    <input type="checkbox" name="question7" value="monstertruck">Monster Truck
    <p></p>
    <input type="checkbox" name="question7" value="beetle">Beetle
    <p></p>
    <input type="checkbox" name="question7" value="minivan">Mini-Van
    </div7>
    <!--Eighth Question-->
    <div8>
       <h3>What type of shoes do you like to wear?</h3>
    <p></p>
    <input type="checkbox" name="question8" value="boots">Boots
    <p></p>
    <input type="checkbox" name="question8" value="highheels">High Heels
    <p></p>
    <input type="checkbox" name="question8" value="loafers">Loafers
    <p></p>
    <input type="checkbox" name="question8" value="jazzshoes">Jazz Shoes
    <p>s</p>
    <input type="checkbox" name="question8" value="sneakers">Sneakers
    </div8>
    <input type="submit" value="Submit Your Answers!">
    </form>
   
  </body>
</html>