<!DOCTYPE html>
<html>
<head>
<title>Results</title>

<link rel = "stylesheet"
type = "text/css"
href = "stylesheets/results.css" />
<link href="https://fonts.googleapis.com/css?family=Limelight|Oleo+Script|Yanone+Kaffeesatz" rel="stylesheet">

</head>
<body>
<h1>YOUR MOVIE MOOD IS .....</h1>
<% @the_real_result.each do |answer| %>
<h1><%= answer%> </h1>
<% if answer == "Horror" %>
<p class= "horror1"><img src= "https://resizing.flixster.com/IAOJGAtUT0uR20mB5eG1kf-SeUA=/206x305/v1.bTsxMTE3Mzk0NTtqOzE3ODU5OzEyMDA7ODAwOzEyMDA"width=300 align="top" >The Conjuring - 2013 </p>

<p class= "horror2"><img src="http://cdn-static.denofgeek.com/sites/denofgeek/files/styles/main_wide/public/2017/07/it_main.jpg?itok=iNotUBVb"width=325 height=250 align="top" > It - 2017 </p>

<p class= "horror3"><img src="https://resizing.flixster.com/hu51f1ZNMt-hvdmnTMwWugd2Y2c=/206x305/v1.bTsxMTE2OTQ0MztqOzE3ODU5OzEyMDA7ODAwOzEyMDA"width=300 align="top">Insidous - 2010 </p>

<a class="link" href = "https://www.imdb.com/list/ls054923745/"> Horror Movie Suggestions </a>

<%elsif answer == "Comedy" %>
<p class= "comedy1"><img src= "http://ava7.com/w/movies/jackass-presents-bad-grandpa/jackass-presents-bad-grandpa-movie.jpg"width=350 height=375 align="top"> Bad Grandpa - 2013</p>

<p class= "comedy2"><img src="https://www.warnerbros.com/sites/default/files/styles/key_art_270x400/public/were_the_millers_keyart.jpg?itok=Z-tMttX_"height=350 width=300 align="top"> We're the Millers - 2013</p>

<p class= "comedy3"><img src="https://images-na.ssl-images-amazon.com/images/I/A1qVqQUHM-L._RI_.jpg"width=300 align="top">The Hangover - 2009</p>

<a class="link" href = "https://www.imdb.com/list/ls057433882/"width=300 align="top"> Comedy Movie Suggestions </a>

<% elsif answer == "Family" %>
<p class= "family1"><img src="https://puzzledpagan.files.wordpress.com/2015/07/movie_poster_the_incredibles.jpg"width=300 align="top"> The Incredibles - 2004</p>

<p class= "family2"><img src="http://static.arcadespot.com/wp-content/uploads/2015/12/finding-nemo.jpg"width=300 align="top">Finding Nemo - 2003</p>

<p class= "family3"><img src="https://lh3.googleusercontent.com/ojUhPvn-6vdFJ58kX3axYrmv9nO1lf98tTtUWCmROuhXQZICM8m9lVmG7Nup_qq0Msm7=w200-h300"width=300 align="top">Monster Inc. - 2001</p>

<a class="link" href = "https://filmgator.com/movies/2013/2018/Family"width=300> Family Movie Suggestions </a>

<% elsif answer == "Action" %>
<p class= "action1"><img src="https://i.pinimg.com/originals/0d/dd/b2/0dddb2e006489986a3202d2417675d4c.jpg"width=300 align="top"> Avatar - 2009 </p>

<p class= "action2"><img src="https://m.media-amazon.com/images/M/MV5BZmUwNGU2ZmItMmRiNC00MjhlLTg5YWUtODMyNzkxODYzMmZlXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_.jpg"width=300 align="top"> Batman Begins - 2005</p>

<p class= "action3"><img src="https://s.s-bol.com/imgbase0/imagebase3/large/FC/9/3/1/4/1002004006554139.jpg"width=300 align="top"> Fast & Furious - 2001 </p>

<a class="link" href = "https://www.imdb.com/list/ls027328830/" align="top"> Action Movie Suggestions </a>

<% elsif answer == "Romance" %>
<p class= "romance1"><img src="https://i.pinimg.com/originals/d9/1f/9e/d91f9eee7039abfd0e2c90b4e25c0952.jpg"width=300 align="top"> 50 First Dates - 2004</p>

<p class= "romance2"><img src="http://nicholassparks.com/wp-content/uploads/2013/07/200406-the-notebook.jpeg"width=300 align="top"> The Notebook - 2004</p>

<p class= "romance3"><img src="http://fr.web.img3.acsta.net/pictures/14/05/05/11/16/132221.jpg"width=300 align="top"> Hitch - 2005</p>

<a class="link" href = "https://filmgator.com/movies/2000/2018/Romance"> Romance Movie Suggestions </a>

<% end %>
<% end %>
<br>
<br>

<a href="/"><button class="button">Restart Quiz</button>

<br>
<br>
<p class="name"> Created by: Alexsia Light, Drue Johnson, & Charmen Pinkard! </p>
</body>
</html>
